.button {
  display: flex;
  align-items: center;
  gap: 12px;
  padding: 15px 23px;
  color: white;
  background-color: #fe5f1e;
  border: none;
  border-radius: 30px;
  font-size: 16px;
  font-weight: bold;
  transition-duration: 0.2s;

  &:hover {
    background-color: #ed4300;
    cursor: pointer;
  }
}

.price {
  padding-right: 13px;
  border-right: 1px solid rgba(255, 255, 255, 0.5);
}

.cart {
  margin-right: 8px;
}
