.footerActions {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  margin-top: 40px;
}

.buttonBuyNow {
  height: 55px;
  background-color: #fe5f1e;
  color: white;
  border: none;
  border-radius: 30px;
  font-size: 16px;
  font-weight: 600;
  padding: 15px 40px;

  &:hover {
    background-color: #ed4300;
  }
}
