.header {
  position: sticky;
  display: flex;
  justify-content: space-between;
  top: 0;
  left: 0;
  background-color: #fff;
  padding: 49px 38px 40px 77px;
  border-bottom: 1px solid #f6f6f6;
}

.scrolled {
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
}

.logo {
  width: 38px;
  height: 38px;
  margin-right: 17px;
}

.info {
  display: flex;
  align-items: center;
}

.title {
  font-size: 24px;
  font-weight: 800;
  color: black;
}

.descr {
  font-size: 16px;
  font-weight: 500;
  color: #7b7b7b;
}

.text {
  display: flex;
  flex-direction: column;
}
