.removeButton {
  background-color: transparent;
  border: 2px solid #d7d7d7;
  border-radius: 50%;
  width: 32px;
  height: 32px;
  cursor: pointer;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;

  &:before {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    translate: -50% -50%;
    transform: rotate(45deg);
    width: 2px;
    height: 10px;
    border-radius: 2px;
    background-color: #d7d7d7;
  }

  &:after {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    translate: -50% -50%;
    transform: rotate(45deg);
    width: 10px;
    height: 2px;
    border-radius: 2px;
    background-color: #d7d7d7;
  }

  &:hover::before,
  &:hover::after {
    animation: spin 0.5s ease;
  }
}

@keyframes spin {
  0% {
    transform: rotate(45deg);
  }
  17% {
    transform: rotate(90deg);
  }
  34% {
    transform: rotate(135deg);
  }
  51% {
    transform: rotate(180deg);
  }
  68% {
    transform: rotate(225deg);
  }
  85% {
    transform: rotate(270deg);
  }
  100% {
    transform: rotate(315deg);
  }
}
